.casestudy-carousel-outer {
  display: flex;
  align-items: center;
}

.casestudy-carousel-container {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  min-height: 250px;
}

.casestudy-carousel-wrapper {
  display: flex;
  transition: transform 0.4s ease-in-out;
}

.casestudy-carousel-item {
  flex: 0 0 100%;
  box-sizing: border-box;
  text-align: center;
  /* background: #F8F8F8; */
  margin: 0 1px;
  border-radius: 7px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

#custom-prevBtn,
#custom-nextBtn {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

#custom-prevBtn {
  margin-right: 5px;
}

#custom-nextBtn {
  margin-left: 5px;
}

/* For Desktop */
@media (min-width: 769px) {
  .casestudy-carousel-item {
    padding: 5px;
  }
  #custom-prevBtn {
    margin-right: 10px;
  }
  
  #custom-nextBtn {
    margin-left: 10px;
  }
}